[Desktop Entry]
Encoding=UTF-8
Name=Kalkulator UVT
Comment=Operasi matematika
Exec=bash kalkuluvt.sh
Icon=kalkulator
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;Kalkuluvt;
StartupNotify=true
